* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: left;
}
.bottom_box {
  display: flex;
  margin-top: 15px;
}
.Sidebar {
  width: 30%;
  height: 100vh;
  /* border: 2px solid black; */
  display: flex;

  flex-direction: column;
}
.SideBox {
  width: 70%;
  /* border:2px solid green */
}
.Btn{
    margin-top: 5%;
}
.Btn button {
  margin: 5px;
  background-color: white;
  border-bottom: 1px solid gray;
  border-radius: 0px;
  color: black;
  display: flex;
  justify-content: left;
  width: 100%;
}
