* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BackImage {
  position: relative;
  width: 100%;
  filter: blur(8px);
  height: 100vh;
}
.Form_box {
  position: absolute;
  padding: 50px;
  border-radius: 15px;
  width: 30%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  top: 0px;
  right: 33%;
  opacity: 0.7;
  background-color: white;
}
.Form_box {
  margin-top: 20%;
}
.Form_box label {
  font-weight: 600;
}
.Form_box button {
  margin-top: 10px;
  background-color: #24aeb1;
  color: white;
  width: 90%;
}

.Form_box input {
  border: 1px solid #24aeb1;
  background-color: white;

  color: black;
}
