.categorypage{
    width: 100%;
    margin:auto;
 
    /* border:1px solid red; */
}
.categorypagebox{
    width: 99%;
    /* border:1px solid green; */
    display: flex;

    justify-content: space-between;
}
.productsbox{
    width: 80%;
}
.categoryimagebox{
    width: 96%;
    margin: auto;
    height: fit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.categoryimagebox>img{
    width: 100%;
    height: fit;
}
.sortingbox{
   width: 100%;
   height:5rem;
   display: flex;
   padding:1rem 1rem;
   align-items: center;
   justify-content: space-between;


   /* border: 1px solid red;  */
}

.sortingbox>div>button{

    border-radius: 10px;
    height:40px;
    padding:5px 5px;
    margin-left: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.buttontrue{
    background-color: #32aeb1;
    color: white;
  border:hidden;
   
}
.buttonfalse{
    background-color: white;
    color: black;

}
.gridbox{
    width: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, 3fr));
    justify-items: center;
    gap: 10px;
}
.productsbox{
    border: none;
}
