.navbar-title{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.navbar-add-product-btn{
    border: 1px solid black;
    background-color: rgb(153, 255, 0);
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.navbar-log-product-btn{
    border: 1px solid black;
    background-color: tomato;
    font-size: 16px;
    color: white;;
    padding: 0px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.navbar-cart-count{
    position: absolute;
    width: 20px;
    height: 20px;
     background-color: black; color: white;
     padding: 2px;
     text-align: center;
      border-radius: 50%;
       left: -8px; top: -8px; 
}